@charset "utf-8";
body{
	background-image: url(../img/background/1.jpg);
}
header{
	margin: 300px auto;
	width: 1000px;
}
header div:nth-child(1){
	text-align: center;
}
header div:nth-child(1) p{
	font-size: 80px;
	font-weight: bold;
	color: white;
}
header div:nth-child(2){
	margin: -50px auto 70px;
	width: 710px;
	text-align: center;
}
header div:nth-child(2) p{
	font-size: 30px;
	color: white;
}
header div:nth-child(3){
	text-align: center;
}
div a{
	margin: 0px 20px;
	transition: all 0.5s;
}
div a:nth-child(1){
	text-align: center;
	padding-top: 8px;
	display: inline-block;
	width: 160px;
	height: 30px;
	border: 3px solid #FFFFFF;
	text-decoration: none;
	color: white;
}
div a:nth-child(1):hover{
	background-color: #FFFFFF;
	color: #000000;
}
div a:nth-child(2){
	text-align: center;
	padding-top: 8px;
	display: inline-block;
	width: 160px;
	height: 30px;
	border: 3px solid #184950;
	background-color: #184950;
	text-decoration: none;
	color: white;
}
div a:nth-child(2):hover{
	background-color: rgba(185,127,109,1.00);
	border: 3px solid rgba(185,127,109,1.00);
}